<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <div class="card center m-2">
        <div class="card-body">
          <% if (wiki.private) { %>
            <h5 class="card-title"><%= wiki.title %><i class="fa fa-lock m-1 icon-blue" aria-hidden="true"></i></h5>
          <% } else { %>
            <h5 class="card-title"><%= wiki.title %><i class="fa fa-unlock-alt m-1 icon-red" aria-hidden="true"></i></h5>
          <% } %>
          <%- wiki.body %>
          <% if(currentUser && (currentUser.isAdmin() || ((currentUser.id===wiki.userId && wiki.private===false) || (currentUser.role === "premium" && currentUser.id===wiki.userId && wiki.private===true)))) { %>
            <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          <% } %>
          <% if (wiki.private===false && currentUser && (currentUser.isAdmin() || ((currentUser.role === "premium" && currentUser.id===wiki.userId)))) { %>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/changePrivacy" method="post">
              <button type="submit" class="btn btn-primary">Make Private</button>
            </form>
          <% } else if (wiki.private===true && currentUser && (currentUser.isAdmin() || ((currentUser.role === "premium" && currentUser.id===wiki.userId)))) { %>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/changePrivacy" method="post">
              <button type="submit" class="btn btn-primary">Make Public</button>
            </form>
          <% } %>
        </div>
      </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
