<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>
      <section class="col-lg-8">

        <div class="card m-1">
          <div class="card-body">
            <h4 class="card-title"><%= `${user.email}'s profile` %></h4>
            <p class="card-text"><%= `Account Status: ${user.role.toUpperCase()}` %></p>
            <% if (user.role != "premium") { %>
              <a href="/users/showUpgrade" class="btn btn-primary btn-sm m-1">Upgrade to Premium</a>
              <a href="/wikis/new" class="btn btn-primary btn-sm">Create a public Wiki</a>
            <% } else { %>
              <a href="/wikis/new" class="btn btn-primary btn-sm">Create a Public Wiki</a>
              <a href="/wikis/newPrivate" class="btn btn-primary btn-sm m-1">Create a Private Wiki</a>
              <button type="button" class="btn btn-secondary btn-sm m-1" data-toggle="modal" data-target="#downgradeModal">
                Downgrade Account to 'Member'
              </button>

                <!--Downgrade Modal -->
                <div class="modal fade" id="downgradeModal" tabindex="-1" role="dialog" aria-labelledby="downgradeModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="downgradeModalLabel">Are you sure?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Downgrading your account will change all your private wikis to public wikis. You may want to delete them first manually.</p>
                    </hr>
                      <p>If you wish to upgrade your account again in the future, payment will still be required.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <form action="/users/<%= user.id %>/downgrade" method="post">
                        <button type="submit" class="btn btn-primary btn-sm m-1">Downgrade</button>
                      </form>
                    </div>
                  </div>
                </div>
                </div>
            <% } %>
          </div>
        </div>

      </section>

      <section class="col-lg-8">

        <div class="card m-1">
          <div class="card-header">
            My Wikis
          </div>
          <ul class="list-group list-group-flush">
            <% if(wikis) { %>
              <% wikis.forEach((wiki) => { %>
                <li class="list-group-item">
                  <a href="/wikis/<%= wiki.id %>">
                    <%= wiki.title %>
                  </a>
                  <% if (wiki.private) { %>
                    <i class="fa fa-lock m-1 icon-blue" aria-hidden="true"></i>
                  <% } else { %>
                    <i class="fa fa-unlock-alt m-1 icon-red" aria-hidden="true"></i>
                  <% } %>
                </li>
              <% }) %>
            <% } %>
          </ul>
        </div>

      </section>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
